{% block extrajs %}
<!-- You should place your js files here -->
<!-- e.g. <script src="/static/js/index.js"></script> -->
{% endblock%}

{% block title %}  {% endblock %}

{% block content %}
<h1>Pickup2FrontDoor</h1>
<p>Pickup2FrontDoor is a site to have ready to pick up orders delivered right to your front door!
How it works: Submit a request to have an order picked up. Once your request is accepted you inform the
    store who is coming to pickup the order and your order is take right to your front door!</p>

    link is just there to get to other pages right now
    <li><a href="/request">Request a Pickup</a></li>
<p>{{log_index}}</p>
  
{% endblock %}